@charset "utf-8";

section {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
header, section, footer, aside {
    width: 600px;
    margin: auto;
    /*border: 1px solid black;*/
    border-radius: 10px;
    text-align: center;
}

section img {
    width: 100%;
}

